//Colors
$deepPink: rgba(238, 22, 119, 0.98);
$lightPink: rgb(220, 191, 195);
$darkPink: rgb(218, 157, 167);
$white: #fff;
$black: #000;
$lightBlack: #121111f7;
$dark: #2a2828;
$grey: grey;

//Transition
$transition: all 0.5s;
