@import "./styles/variables.scss";

* {
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  width: 100%;
  height: 100vh;
  background: $lightPink;
  color: $black;
  font-family: "Trebuchet MS";
  overflow-x: hidden;
}
a {
  color: $black;
}
button {
  border: none;
  outline: none;
}
input,
textarea,
select {
  width: 100%;
  border: none;
  outline: none;
  border-radius: 3px;
  background: $white;
  color: $dark;
  font-size: 13px;
  font-weight: 540;
  padding: 10px 8px;
}
